<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ningyang.os.dao.LSerWarehouseGoodsInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ningyang.os.pojo.LSerWarehouseGoodsInfo">
        <id column="id" property="id"/>
        <result column="source_type" property="sourceType"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="box_no" property="boxNo"/>
        <result column="warehouse_in_no" property="warehouseInNo"/>
        <result column="user_id" property="userId"/>
        <result column="remark" property="remark"/>
        <result column="warehouse_in_time" property="warehouseInTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectGoodsPutInVoPageByCondition"
            parameterType="com.ningyang.os.action.input.condition.serve.QueryGoodsPutCondition"
            resultType="com.ningyang.os.action.output.vo.web.serve.GoodsPutInVo"
    >
        select b.warehouse_name,d.brand_name,d.brand_series_name as series_name,
               d.brand_series_product_name as product_name,c.user_name,
               a.create_time,COUNT(DISTINCT a.box_no) as boxCount
        from l_ser_warehouse_goods_info a
                 left join t_ser_warehouse_info b on a.warehouse_id = b.id
                 left join t_sys_user_info c on a.user_id = c.id
                 left join t_ser_goods_info d on a.box_no = d.m5
        where 1 = 1
        GROUP BY b.warehouse_name,d.brand_name,d.brand_series_name,d.brand_series_product_name,
                 c.user_name,a.create_time
                 limit #{page},#{limit}
    </select>

    <select id="selectGoodsPutInVoPageCountByCondition"
            parameterType="com.ningyang.os.action.input.condition.serve.QueryGoodsPutCondition"
            resultType="int"
    >
        select COUNT(DISTINCT (a.warehouse_in_no)) from l_ser_warehouse_goods_info a
    </select>

    <select id="getWarehouseBoxCount" parameterType="Long" resultType="int">
        select count(DISTINCT a.box_no) from l_ser_warehouse_goods_info a where a.warehouse_id = #{warehouseId}
    </select>

</mapper>
