<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ningyang.os.dao.SerOrderInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ningyang.os.pojo.SerOrderInfo">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="dealer_id" property="dealerId" />
        <result column="dealer_code" property="dealerCode" />
        <result column="brand_id" property="brandId" />
        <result column="series_id" property="seriesId" />
        <result column="product_id" property="productId" />
        <result column="product_number" property="productNumber" />
        <result column="order_state" property="orderState" />
        <result column="order_remark" property="orderRemark" />
        <result column="user_id" property="userId" />
        <result column="financial_id" property="financialId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="selectSaleOrderVoPageByCondition"
            parameterType="com.ningyang.os.action.input.condition.serve.QueryOrderCondition"
            resultType="com.ningyang.os.action.output.vo.web.serve.SaleOrderVo"
    >
        SELECT a.id as orderId,a.order_no,a.dealer_id,e.dealer_name,d.brand_name,c.series_name,b.product_name,a.product_id,
        a.product_number,a.order_state,f.user_name as createUserName,g.user_name as financialUserName,a.order_remark as remark
        FROM t_ser_order_info a
        LEFT JOIN t_ser_brand_series_product_info b ON a.product_id = b.id
        LEFT JOIN t_ser_brand_series_info c ON b.series_id = c.id
        LEFT JOIN t_ser_brand_info d on c.brand_id = d.id
        LEFT JOIN t_ser_dealer_info e on a.dealer_id = e.id
        LEFT JOIN t_sys_user_info f on a.user_id = f.id
        LEFT JOIN t_sys_user_info g on a.financial_id = g.id
        WHERE 1=1
        <if test="orderState!=null">
            and a.order_state = #{orderState}
        </if>
        order by a.create_time desc
        limit #{page},#{limit}
    </select>

    <select id="selectSaleOrderVoPageCountByCondition"
            parameterType="com.ningyang.os.action.input.condition.serve.QueryOrderCondition"
            resultType="int"
    >
        select count(1) from t_ser_order_info a where 1=1
        <if test="orderState!=null">
            and a.order_state = #{orderState}
        </if>
        order by a.create_time desc
    </select>


</mapper>
